{% extends "base.html" %}
{% block content %}
    <h2 class="text-info">Success!</h2>
    <p>You are logged in as {{ user.email }} </p>
    <p>Your last login was {{ user.last_login }}</p>
    {% if user.stripe_id %}
    <p>Your stripe id is {{ user.stripe_id }} </p>
    {% endif %}
    <h2 class="text-info">Subscription Details</h2>
    {% if user.is_staff %}
        <p>As a Staff Member you have unlimited access</p>
    {% endif %}
    {% if not user.is_staff %}
        <p>You have {{ user.subscription_end|timeuntil}} left on your subscription</p>
        <p>To cancel your subscription click 'Cancel Subscription' below</p>
        <p>
            <a href="{% url "cancel_subscription" %}"
               onclick="return cancelSubscriptionCheck();"
               class="btn btn-danger">Cancel Subscription</a>
        </p>
        <script type="text/javascript">
            function cancelSubscriptionCheck() {
                if (confirm('Are you sure you want to cancel?')) {
                    return true;
                }
                return false;
            }
        </script>
    {% endif %}

{% endblock %}
